.DS_Store
.build/
.swiftpm/
*.xcodeproj
*.xcuserstate
DerivedData/
iOS/build/
Xcode/build/

macOS/packaging/*.app/
macOS/packaging/*.dmg
macOS/packaging/*.zip
macOS/packaging/*.icns
!macOS/packaging/Pesty.icns
macOS/packaging/Pesty.iconset/

*.log

macOS/packaging/*.pkg
macOS/packaging/*.provisionprofile
