.DS_Store
.build/
.swiftpm/
*.xcodeproj
*.xcuserstate
DerivedData/
iOSApp/build/

packaging/Pesty.app/
packaging/*.dmg
packaging/*.zip
packaging/*.icns
!packaging/Pesty.icns
packaging/Pesty.iconset/

*.log

packaging/*.pkg
packaging/*.provisionprofile
